body {
  margin: 0;
  padding: 0;
  font-family: 'Assistant', sans-serif;
}

#portfolio-main-header.content.green-background {
	background-color: rgb(0, 209, 157);
}

#portfolio-main-header-text > div{
	color: white;
}

.red-background {
	background-color: rgb(248, 63, 64);
}

#main-menu.menu.ui {
	margin-bottom: 0;
}
